
# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# OS-specific
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Data files (опціонально, якщо не хочеш пушити демо-дані)
*.json
